<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration>
<hibernate-configuration>
    <session-factory>
        <!-- database connection properties -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/libraryDB?serverTimezone=America/Phoenix</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">NhbWun-333</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- show mysql queries output in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- manage automatic database creation -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- add resources here -->
        <mapping class="com.memorynotfound.hibernate.Book"/>

    </session-factory>
</hibernate-configuration>
    