<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
         version="6.0">
  <display-name>MediaTitles</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminMaintServlet</display-name>
    <servlet-name>AdminMaintServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.AdminMaintServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>HomepageServlet</display-name>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.HomepageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AuthorsServlet</display-name>
    <servlet-name>AuthorsServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.AuthorsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserMaintServlet</display-name>
    <servlet-name>UserMaintServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.UserMaintServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TitlesListServlet</display-name>
    <servlet-name>TitlesListServlet</servlet-name>
    <servlet-class>org.ad5xj.Servlets.TitlesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/homepageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserMaintServlet</servlet-name>
    <url-pattern>/UserMaintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminMaintServlet</servlet-name>
    <url-pattern>/AadminMaintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthorsServlet</servlet-name>
    <url-pattern>/authorsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TitlesListServlet</servlet-name>
    <url-pattern>/TitlesListServlet</url-pattern>
  </servlet-mapping>
</web-app>